body {
  header {
    .top {
      display: grid;
      grid-template-columns: 20% 1fr 20%;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 20px auto;
      .left {
        height: 100%;
        text-align: center;
        background-color: $myRed;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .redcadre {
        display: flex;
        flex-direction: column;
        .gossip {
          text-decoration: none;
          color: white;
          font-size: 60px;
          font-weight: 800;
        }

        span {
          color: white;
          text-align: center;
          font-size: 12px;
        }
      }

      .center {
        display: grid;
        text-transform: uppercase;
        grid-template-columns: auto auto auto 1fr;
        justify-items: end;
        align-items: end;
        gap: 1rem;
        grid-template-areas: 
        ". . . ."
        "banner banner banner banner"
        ;

        div {
          font-size: 12px;
          color: grey;
        }

        .search {
          input {
            border: 0px;
            background-color: rgba(219, 219, 219, 0.5);
            height: 20px;
          }
        }

        .sign a {
          text-decoration: none;
          text-transform: uppercase;
          color: grey;
        }
        .banner {
          grid-area: banner;
          img {
            width: 100%;
          }
        }
      }

      .right {
        height: 100%;
        background: url('../../img/22-324x400.jpg') center/cover;
      }
    }
  }
}