body {
  header {
    .top {
      display: grid;
      grid-template-columns: 20% 1fr 10%;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 20px auto;
      .left {
        height: 100%;
        text-align: center;
        background-color: $myRed;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .redcadre {
        display: flex;
        flex-direction: column;
        .gossip {
          text-decoration: none;
          color: white;
          font-size: 60px;
          font-weight: 800;
        }

        span {
          color: white;
          text-align: center;
          font-size: 12px;
        }
      }

      .center {
        display: grid;
        text-transform: uppercase;
        grid-template-columns: auto auto auto 1fr;
        justify-items: end;
        align-items: end;
        gap: 1rem;
        grid-template-areas: 
        ". . . ."
        "banner banner banner banner"
        ;

        div {
          font-size: 12px;
          color: grey;
        }

        .search {
          input {
            border: 0px;
            background-color: rgba(219, 219, 219, 0.5);
            height: 20px;
          }
        }

        .sign a {
          text-decoration: none;
          text-transform: uppercase;
          color: grey;
        }
        .banner {
          grid-area: banner;
          img {
            width: 100%;
          }
        }
      }

      .right {
        height: 100%;
        width: 100%;
        background: url('../../img/22-324x400.jpg') center/cover;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 60% auto;
        align-items: end;

        .redc {
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          color: white;
          background-color: $myRed;
          padding: .4rem;
          display: inline-block;
          margin-left: 1rem;
          font-size: 10px;
          align-self: end;
        }

        .seclink {
          text-transform: uppercase;
          font-weight: 900;
          text-decoration: none;
          color: white;
          font-size: 10px;
          align-self: start;
          margin-top: .2rem;
          margin-left: 1rem;
          align-self: end;
          // padding-right: 80%;
        }
      }
    }

    .menu {
      border-top: 1px rgb(219, 219, 219) solid;
      border-bottom: 1px rgb(219, 219, 219) solid;
      margin-bottom: 1rem;
      display: flex;
    }
  } 
  // END OF HEADER
  // FIRST SECTION
  .first-newsblock {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    height: 40vh;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: 1fr 35%;
    gap: 1rem;
    grid-template-areas: 
    "vertical . ."
    "vertical horizontal horizontal"
    ;

    img {
      width: 100%;
    }

    .news {
      border: 1px solid $borderColor;
      height: 100%;
      .image {
        height: 60%;

        a {
          height: 100%;
          width: 100%;
        }
      }

      .txt {
        height: 40%;
      }
    }

    
    .news:nth-last-of-type(1) {
      grid-area: horizontal;
      display: flex;

      .image {
        height: 100%;
        width: 50%;
        background: url('../img/26-1068x712.jpg') center/cover;
      }
      .txt {
        height: 100%;
        width: 50%;
        grid-template-rows: auto auto;
        align-items: center;
        .category {
          align-self: end;
        }
        .newstitle {
          align-self: start;
        }
      }
    }
    .news:nth-last-of-type(2) {
      .image {
        background: url('../img/23-1068x712.jpg') center/cover;
      }
    }
    .news:nth-last-of-type(3) {
      .image {
        background: url('../img/18-1068x712.jpg') center/cover;
      }
    }
    .news:nth-last-of-type(4) {
      grid-area: vertical;
      .image {
        background: url('../img/27-1068x713.jpg') center/cover;
        height: 75%;
      }
      .txt {
        height: 20%;
      }
    }
  }
  // END OF FIRST SECTION
  // INTERLUDE SWIPER
  .interlude {
    position: relative;
    background-color: $swiperColor;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 80%;
    

    .swiper {
      margin-left: 1rem;
      height: 100%;
      width: 100%;
      

      .swiper-wrapper {
        height: 100%;
        margin-top: 1.2rem;
      }

      .swiper-slide {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 14px;
      }

      .btn-prev {
        margin-top: 1rem;
        height: 1rem;
        width: 1rem;
        background-color: white;
        position: absolute;
        z-index: 2;
        top: 20%;
        right: 20px;
        transform: translate(-50%,-50%);
        &::before {
          content: '<';
          text-align: center;
          padding: .2rem;
        }
        &:hover {
          cursor: pointer;
          background-color: $myRed;
          color: white;
        }
      }
      .btn-nxt {
        margin-top: 1rem;
        height: 1rem;
        width: 1rem;
        background-color: white;
        position: absolute;
        z-index: 2;
        top: 20%;
        right: 0px;
        transform: translate(-50%,-50%);
        &::before {
          content: '>';
          text-align: center;
          padding: .2rem;
        }
        &:hover {
          cursor: pointer;
          background-color: $myRed;
          color: white;
        }
      }
    }
    .redband {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      color: white;
      background-color: $myRed;
      padding: .4rem;
      margin-left: 1rem;
      font-size: 10px;
      align-self: center;
    }
  }
  // END OF INTERLUDE
  // STICKY
  .more-articles {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    .articles {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;

      .popular {
        border: 1px solid $borderColor;
      }
      .article {
        border: 1px solid $borderColor;
        .txt.txt {
          position: relative;
          top: 50%;
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;

          .category {
            text-decoration: none;
            text-transform: uppercase;
            color: $myRed;
            font-weight: 900;
            font-size: 14px;
          }

          .newstitle {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 900;
            padding: 0 1rem 1rem 0;
            color: black;
            font-size: 18px;
          }
        }
      }
    }

    .sticky {

      .container {
        height: 50vh;
        position: sticky;
        top: 0;
      }
      
    }
  }
  // END OF STICKY
}